.header{
    background-color: #0d0d0d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #222;
}

/* LOGO */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
}

.logo h1{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

/* MENÚ */

.navbar{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.navbar a:hover{
    color: #ff6600;
}

/* DROPDOWN */

.dropdown{
    position: relative;
}

.dropbtn{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 220px;
    border-radius: 10px;
    overflow: hidden;
    top: 35px;
    z-index: 100;
}

.dropdown-content a{
    display: block;
    padding: 15px;
    border-bottom: 1px solid #222;
}

.dropdown-content a:hover{
    background-color: #222;
}

/* MOSTRAR MENU */

.dropdown:hover .dropdown-content{
    display: block;
}

/* ICONOS */

.icons{
    display: flex;
    gap: 20px;
}

.icons span{
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.icons span:hover{
    color: #ff6600;
}